Jinja2==2.6
SQLAlchemy==0.8.0b2
Tempita==0.5.1
Twisted==12.3.0
argparse==1.2.1
buildbot==0.8.7p1
decorator==3.4.0
distribute==0.6.31
execnet==1.1
mock==1.0.1
py==1.4.12
pytest==2.3.4
pytest-xdist==1.8
python-dateutil==1.5
sqlalchemy-migrate==0.7.2
wsgiref==0.1.2
zope.interface==4.0.3
